@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,600;1,300&family=Ubuntu:wght@400;500;700&display=swap');

body {
    overflow-x: hidden;
    font-size: 16px;
}

.header-princ {
    position: relative;
    z-index: 1;
    height: 50vh;
    width: 100vw;
    background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-bottom-left-radius: 100px;
}

.header-wrapper {
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}

.bg-princ {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-content {
    font-family: 'Ubuntu', sans-serif;
}

.header-content h1 {
    font-weight: 500;
}

.header-content p {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
}

.btn-login {
    color: white;
    background: none;
    border: none;
    padding: 0.5rem 1.8em 0.5rem 1.8rem;
    border-radius: 20px; 
}

.btn-signIn {
    color: hsl(353, 100%, 62%);
    border-radius: 20px;
    border: none;
    padding: 0.5rem 1.8em 0.5rem 1.8rem;
    transition: 0.4s;
}

.btn-signIn:hover, .btn-start:hover {
    color: white;
    background-color: hsla(0, 0%, 100%, 0.226);

}

.btn-start {
    color: hsl(353, 100%, 62%);
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1.2em 0.5rem 1.2rem;
    transition: 0.4s;
}

.btn-learn {
    color: white;
    padding: 0.5rem 1.2em 0.5rem 1.2rem;
    background: none;
    border: none;
    border-radius: 20px;
    transition: 0.4s;
}

.btn-learn:hover {
    color: hsl(353, 100%, 62%);
    background-color: white;
}

.section1 h2{
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    color: hsl(208, 49%, 24%);
}

.content-sec1 {
    margin-left: 15%;
}

.content-sec1 h3{
    font-family: 'Overpass', sans-serif;
    font-weight: 300; 
    color: hsl(208, 49%, 24%);
}

.content-sec1 p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: hsl(207, 13%, 34%);
}

.section2 {
    position:relative;
    background-image: linear-gradient(to right, hsl(237, 17%, 21%),  hsl(237, 23%, 32%));
    border-radius: 0px 60px 0px 60px;
}

.content-wrapper-sec2 {
    position:relative;
    height: 25rem;
    z-index: 1;
    overflow: hidden;
    padding: 0;
}

.sec2-content {
    position: absolute;
    left: 65%;
    bottom: 25%;
}

.sec2-content h2 {
    font-family: 'Overpass', sans-serif;
    font-weight: 300; 
}

.sec2-content p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.bg-img-sec2 {
    position: absolute;
    z-index: -1;
    bottom: 1px;
    right: 45%;
    object-fit: cover;
}

.phone-img-sec2 {
    z-index: 2;
    position: absolute;
    bottom: -28%;
    right: 45%;
    object-fit: cover;
}

.sec3-content h3{
    font-family: 'Overpass', sans-serif;
    font-weight: 300; 
    color: hsl(208, 49%, 24%);
}

.sec3-content p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: hsl(207, 13%, 34%);
}

.footer-sec {
    background-color: hsl(240, 10%, 16%);
    border-radius: 0px 100px 0px 0px;
}

.footer-sec h5 {
    font-family: 'Overpass', sans-serif;
    font-weight: 300; 
}

.footer-sec a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.footer-link {
    text-decoration: none;
    color: hsl(240, 2%, 79%);
}

.footer-link:hover {
    color: hsl(240, 2%, 79%);
    text-decoration: underline;
}


